<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729972399696-0305tva3s76vpbj38hbktbht7q7i11q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729972399696-0305tva3s76vpbj38hbktbht7q7i11q7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729972399696-df9j3pvoh04hqs8savu919kva93s538f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIbGapMvvregTzcdjJs86dShj_9Wnv2j0</string>
	<key>GCM_SENDER_ID</key>
	<string>729972399696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixellove.app</string>
	<key>PROJECT_ID</key>
	<string>pixellove</string>
	<key>STORAGE_BUCKET</key>
	<string>pixellove.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729972399696:ios:278829e55db080780afb55</string>
</dict>
</plist>